*{
    margin: 0%;
    padding: 0%;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid red;
    padding: 20px;
    
}

.box{
    margin: 10px;
    border: 1px solid black;
}

